# VS Code
.vscode/

# drawio
*.drawio
*.drawio.bkp

# ModelSim runtime artifacts
sim_modelsim/

# Python cache
__pycache__/
*.pyc

# old mem arichtecture
mem/dual_ram.v
mem/inst_mem.v
ram_array.v

# Simulation test_bin data
sim/test_bin/*
!sim/test_bin/*.bin
sim/__pycache__/
sim/*.vvp

# Temporary / log files
*.log
*.wlf
transcript
